*.iml
.gradle
gradle.properties
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/
/core/component/build/generated/data_binding_base_class_source_out/debug/out/dog/shebang/component/databinding/LayoutBookmarkCardBinding.java
/core/component/build/generated/source/buildConfig/debug/dog/shebang/component/BuildConfig.java
/core/component/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/core/component/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output-metadata.json
/core/component/build/intermediates/aar_metadata/debug/aar-metadata.properties
/core/component/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/core/component/build/intermediates/compile_library_classes_jar/debug/classes.jar
/core/component/build/intermediates/compile_r_class_jar/debug/R.jar
/core/component/build/intermediates/compile_symbol_list/debug/R.txt
/core/component/build/intermediates/compiled_local_resources/debug/out/layout_layout_bookmark_card.xml.flat
/core/component/build/intermediates/data_binding_base_class_log_artifact/debug/out/dog.shebang.component-binding_classes.json
/core/component/build/intermediates/data_binding_layout_info_type_package/debug/out/layout_bookmark_card-layout.xml
/core/component/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/core/component/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/core/component/build/intermediates/incremental/mergeDebugShaders/merger.xml
/core/component/build/intermediates/incremental/packageDebugAssets/merger.xml
/core/component/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/core/component/build/intermediates/incremental/packageDebugResources/stripped.dir/layout/layout_bookmark_card.xml
/core/component/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/core/component/build/intermediates/incremental/packageDebugResources/merger.xml
/core/component/build/intermediates/javac/debug/classes/dog/shebang/component/databinding/LayoutBookmarkCardBinding.class
/core/component/build/intermediates/javac/debug/classes/dog/shebang/component/BuildConfig.class
/core/component/build/intermediates/library_manifest/debug/AndroidManifest.xml
/core/component/build/intermediates/local_only_symbol_list/debug/R-def.txt
/core/component/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/core/component/build/intermediates/navigation_json/debug/navigation.json
/core/component/build/intermediates/packaged_manifests/debug/output-metadata.json
/core/component/build/intermediates/packaged_res/debug/layout/layout_bookmark_card.xml
/core/component/build/intermediates/packaged_res/debug/values/values.xml
/core/component/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/core/component/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/core/component/build/outputs/logs/manifest-merger-debug-report.txt
/core/component/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/data/src/main/java/dog/shebang/data/firestore/entity/response
